*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;

}

body{

background:#f0f2f5;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

.container{

width:1000px;

display:flex;

justify-content:space-between;

align-items:center;

gap:60px;

padding:20px;

}

.left{

flex:1;

}

.left h1{

font-size:60px;

color:#1877f2;

margin-bottom:10px;

}

.left p{

font-size:28px;

line-height:40px;

}

.right{

width:400px;

}

.login-box{

background:white;

padding:20px;

border-radius:10px;

box-shadow:0 5px 20px rgba(0,0,0,.15);

}

.login-box input{

width:100%;

padding:15px;

margin-bottom:15px;

font-size:17px;

border:1px solid #ddd;

border-radius:8px;

outline:none;

}

.login-box input:focus{

border-color:#1877f2;

}

.password{

position:relative;

}

.password i{

position:absolute;

right:15px;

top:18px;

cursor:pointer;

color:gray;

}

#loginBtn{

width:100%;

padding:15px;

border:none;

border-radius:8px;

background:#1877f2;

color:white;

font-size:20px;

cursor:pointer;

transition:.3s;

}

#loginBtn:hover{

background:#166fe5;

}

.login-box a{

display:block;

text-align:center;

margin:18px 0;

text-decoration:none;

color:#1877f2;

}

hr{

margin-bottom:20px;

}

.create{

display:block;

margin:auto;

padding:15px 25px;

background:#42b72a;

color:white;

border:none;

border-radius:8px;

font-size:17px;

cursor:pointer;

transition:.3s;

}

.create:hover{

background:#36a420;

}

@media(max-width:900px){

.container{

flex-direction:column;

text-align:center;

}

.left h1{

font-size:48px;

}

.left p{

font-size:22px;

line-height:30px;

}

.right{

width:100%;

max-width:400px;

}

}